@import '../../styles/variables';
@import '../../styles/mixins';

.Column__root {
  max-width: 10rem;
  font-weight: 400;

  & h3 {
    text-align: center;
    font-weight: inherit;
    margin: 0.75rem 0;
  }
  & h4 {
    margin: 0.25rem 0;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
  }
}
.Column {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);

  &__header {
    @extend .Column;
  }
  &__body {
    @extend .Column;
    padding: 0.65rem 1rem;
    width: 100%;
    border-bottom: 0.15rem solid $button-border;
    display: flex;
  }
}
