@import '../styles/variables';

@mixin button-base() {
  outline: none;
  border: 0;
  min-width: 8rem;
  padding: 0.5rem 3rem;
  font-size: 0.9rem;
  cursor: pointer;
  font-family: inherit;
}

@mixin button-variant($bg-color: $button-contained, $color: $text-primary) {
  background-color: $bg-color;
  color: $color;
}

@mixin display($display: block) {
  display: $display;
}

@mixin flex-direction($direction: row) {
  flex-direction: $direction;
}

@mixin justify-content($justify: center) {
  justify-content: $justify;
}

@mixin align-items($align: space-between) {
  align-items: $align;
}
