@import '../../styles/mixins';
@import '../../styles/variables';

.MetricsTable {
  margin: 1rem 0;
  &__root {
    @extend .MetricsTable;
    @include display(grid);
    grid-auto-flow: column;
    grid-auto-columns: minmax(8rem, 10rem);
    grid-row: 10px;
  }
}
